*, a {
	font-family: Arial;
	font-size: inherit;
	text-decoration: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
*, *:hover {
    /*transition: all 0.3s ease-in;*/
}
h1 {
  padding: 0 10px;
}
.nuit { filter: invert(1) hue-rotate(180deg) ; }
.nuit .ignore { filter: invert(1) hue-rotate(180deg) ; }

.local-logo {
  width: 10vh;
  display: block;
  min-width: 125px;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100000;
  transform: translate(-50%, -50%);
}

a {
	color: #bf4800;
	cursor: pointer;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
	margin:0;
	padding:0;
	text-align: center;
}

.hidden {
  visibility: hidden !important;
}

.iframe_wrapper {
	height: 9000px;
	min-width: 400px;
	max-width: 100vw;
  padding: 0 3vw;
}
iframe{
	border: 0;
	max-width: 800px;
	/*border-radius: 20px;*/
}

.one_select {
  display: grid;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: #fff9f3;
  max-width: 80%;
  margin-top: 10px;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.one_select select {
  max-width: 100%;
}

.swal2-popup {
  max-width: 98vw !important;
  display: initial !important;
}

.swal-wide {
  width: 95vw !important;
  min-height: 97vh;
}
.swal2-title {
  padding: 0 !important;
}

.swal2-html-container {
  display: initial !important;
}

.select_container {
  margin: 20px auto;
}

.wrapper {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff7ed;
  text-align: center;
  margin: 0 auto;
  /*width: 90vw;*/
  max-width: 500px;
}

.swal2-popup:not(.swal-wide){
  padding: 50px;
}

.swal2-shown {
  overflow: hidden;
}

#you {
  background: antiquewhite;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: initial;
}

#you:hover {
  background-color: #ffc075; 
}

.nav {
  min-height: 50px;
  width: 100%;
  background-color: #fffefef0;
  position: fixed;
  z-index: 999;
  display: flex;
}

.nav > .nav-header {
  display: inline;
  margin-left: 30px;
  width: inherit;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  font-size: 18px;
  background: inherit;
  width: inherit;
  display: block;
  text-align: right;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
}

.nav > .nav-links > a:hover {
  background-color: rgb(242, 242, 242);
  font-weight: bold;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:850px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #000;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: inherit;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    text-align: center;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.whole-body {
  margin-top: 100px;
}




.user_details_inputs * {
  margin-top: 20px;
  width: 100%;
  padding: 5px;
}
[disabled] {
  background-color: #d2d2d2;
  font-style: oblique;
  color: #8e8e8e;
  cursor: not-allowed;
}

.interest {
  text-align: left;
  padding: 20px;
}

#current_dep {
  padding: 5px;
  margin: 5px;
  background-color: #e3e3e3;
  border-radius: 2px;
  cursor: pointer;
  border-style: solid;
}

#config {
  cursor: pointer;
}

#liste_dptmts * {
  display: inline-flex;
  padding: 20px;
  border-style: outset;
  border-width: 1px;
  position: sticky;
  border-radius: 5px;
  margin: 5px;
  background-color: white;
  cursor: pointer;
}
#liste_dptmts ::before {
  content: attr(text);
}

#liste_dptmts *:hover{
  background-color: rgb(242, 242, 242);
}

.logo {
   position: fixed;
   width: 50px;
   left: 0;
   display: none;
}

#menu-check {
  display: none;
}

#user-menu {
  width: 100vw;
  content: ' ';
  margin: 0;
  display: none;
  padding: 5px;
  height: 100%;
  font-size: calc(18px + 0.5vh);
  font-weight: bold;
}

.top-tabs-wrap > label {
  display: none;
}

.top-tabs-wrap {
  /*padding: 10px;*/
}

/* Main Tabs container */
.top-tabs-container {
  display: grid;
  width: 100%;
  grid-auto-flow: column;
}


@media (max-width:850px) {
  
  .whole-body {
    /*margin-top: calc(50px + 10vw);*/
  }

  .top-tabs-wrap > label {
    display: block;
  }

  .top-tabs-wrap > .top-tabs-container {
    display: none;
  }

  #menu-check:checked ~ .top-tabs-container {
    display: grid;
    grid-auto-flow: row;
  }

  #user-menu {
    display: block;
  }

  .selected_tab {
    text-decoration: #ff99004a underline 5px;
    border-bottom: none !important;
  }

}



/* Main Tabs */
.tab {
  background-color: white;
  color: black;
  display: inline-block;
  cursor: pointer;
  padding: 15px;
  font-size: calc(14px + 0.5vh);
  font-weight: bold;
  min-width: 200px;
}

.tab:hover {
  background-color: #ff99004a;
}

/* gives indication that it's being clicked */
.selected_tab  {

    border-bottom: 5px solid #ff99004a;  
  
}

.tab-radio {
  display: none;
}

/* Tabs behaviour, hidden if not checked/clicked */
.sub-tab-content,
.tab-content {
  display: none;
}

.tab-radio:checked + .tab-content,
.tab-radio:checked + .sub-tab-content {
  display: block;

}
.sub-tab-content {
  text-align: center;
  min-height: 40vh;
}

/* Sub-tabs */
.sub-tabs-container {
  margin: 20px;
}
.sub-tabs-container label {
  color: #030700;
  min-width: 150px;
  text-align: center;
  background-color: #ff8a65;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.sub-tabs-container label:active {
  color: #37474f;
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.3);
}

.sub-tabs-container label:first-child {
  background-color: #cddc39;
}

.sub-tabs-container label:nth-child(2) {
  background-color: #00dbff;
}

.sub-tabs-container label:hover {
  background-color: #ffccbc;
}

.sub-tabs-container label:first-child:hover {
  background-color: #e6ee9c;
}

.sub-tabs-container label:nth-child(2):hover {
  background-color: #a9f3ff;
}

/* Tabs Content */
.tab-content {
  margin-top: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 2px 10px 6px -3px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}


