@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body {
  background: #ffeedb; 
  font-family: 'Open Sans', sans-serif;
  color: #666;
}


[target="_blank"]::after{

  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==");
  margin: 0 3px 0 5px;

}

.login {
  margin: auto;
  margin-top: 50px;
  padding: 40px 50px;
  max-width: 280px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 1px 1px #666;
  height: 570px;
}

.login input, .login button {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 14px 12px;
  font-size: 16px;
  border-radius: 2px; 
  font-family: Raleway, sans-serif;
}

.login input[type=text]:hover {
  border-color: #F44336;
  outline: none;
  transition: all .2s ease-in-out;
} 

.login button {
  border: none;
  background: #f90;
  color: white;
  font-weight: bold;  
  transition: 0.2s;
  margin: 20px 0px;
}

.login button:hover {
  background: #c87800;  
}

.login button[disabled] {
  background-color: #b0b0b0;
  color: #8e8e8e;
  cursor: not-allowed;
}

.login h2 {
  margin: 20px 0 0; 
  color: #f90;
  font-size: 28px;
}

.login p {
  margin-bottom: 40px;
}

.links {
  display: table;
  width: 100%;  
  box-sizing: border-box;
  border-top: 1px solid #c0c0c0;
  margin-bottom: 10px;
}

.links a {
  display: table-cell;
  padding-top: 10px;
}

.links a:first-child {
  text-align: left;
}

.links a:last-child {
  text-align: right;
}

  .login h2,
  .login p,
  .login a {
    text-align: center;    
  }

.cgu_container {
  text-align: left;
  display: inline-flex;
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  background-color: #fff9f3;
}

#acceptCGU{
  width: min-content;
  margin-right: 10px;
}

.mandatory::before {
  content: '*';
  color: red;
}

.login a, .login a:visited {
  color: #06c;
}

.login a:hover {
  text-decoration: underline;
}

#alertbox {
  text-align: center;
}